.i3
{
    position:relative;
    left:25px;
}
.i4
{
    width: 1150px;
}
.i5
{
    position:relative;
    left:150px;
}
.i6
{
    position:relative;
    left:150px;
}
.i7
{
    width:155px;
}
input
{
    border:black;
}