.im1
{
    width: 140px;
    position: relative;
    height:17px;
    top:2px;
    position:relative;
    left:10px;
    color:black;
}
.text
{
    width: 440px;
    position:relative;
    left:10px;
    
}